body{


}
#sair{
	
}
.container{
	background: white;
	width: 100%;
}
input{
	border-radius: 5px;
	min-width: 170px;
	background: transparent;
	outline: none;

}
.titulo{
	font-family: fantasy;
	background: -webkit-linear-gradient(left,#ff8100fa,#f30000);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
h1{
	font-size: 60px;
}
investimento{
	font-size: 40px;
}
.tiger{
	float: right;
	margin-right: 10px;
}


